@charset "UTF-8";


:root {
    --cor01:#3f836a;
    --cor02:#164937e1;
    --cor03: #37a77d;
}   
            /* Mobile First */

@media screen and (min-width:340px) {
    body {
        background-color: #342882;
    }

    main {
        height: 500px;
        width: 300px;
        
    }
    
    h1 {
        font-size: 1.3em;
        margin: 30px 20px 10px 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {    
        font-size: 1.3em;
        margin: 10px 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    input {
        margin:auto;
    }

    #pais {
        width: 300px;
        height: 189px;
        background: whitesmoke url(../imagem/imagem-login.jpg) no-repeat;
        background-position: left center;
        border-radius: 0 0 10px 10px;
    }

    .material-symbols-outlined {
        position: relative;
        left: 22px;
        top: 28px;
    }
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 6px 3px #00000052;
    background-color: whitesmoke;
}

input {
    display: block;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.411);
}    

.pren {
    outline: 1px solid var(--cor03);
}

.botao {
    background-color: var(--cor01);
    color: white;
    margin: 10px auto;
}

.botao:hover {
    background-color: var(--cor02);
    cursor: pointer;
    transition: .5s;
}


.material-symbols-outlined {
    width: 26px;
    height: 26px;
    background-color: var(--cor03);
    padding: 1px 0 2px 0;
    border-radius: 10px 0 0 10px;
    font-size: 22px;
    text-align: center;
}
